project/datasets/
project/frames/
project/videos/
project/checkpoints/
*.pt
*.pth
*.mp4
!presentation/*.mp4
*.avi
__pycache__/
.ipynb_checkpoints/
.venv/
.DS_Store
project/notebooks/*_FULL.ipynb

# Large data directories
project/datasets_preprocessing/shuttleset_frames/
project/datasets_preprocessing/shuttleset_skeletons_gdino/
project/datasets_preprocessing/finebadminton_skeletons_gdino_v2/
project/datasets_preprocessing/shuttleset_shuttles/
project/utility/
project/baddiev2_colab.zip
